thesis.bcf
thesis.pdf
thesis.run.xml
thesis.synctex.gz(busy)
thesis.synctex.gz
thesis.synctex
thesis.aux
thesis.bbl
thesis.blg
thesis.log
thesis.out
thesis.toc
thesis.tdo
.vscode/settings.json
chapters/theory.tex
thesis.synctex(busy)
